/**EDITOR-STYLES**/
.mce-content-body .modal {
    opacity: 1;
    display: block;
    position: relative;
}

.mce-content-body .modal.fade:not(.show) {
    opacity: 1;
}

.mce-content-body .tab-content > .tab-pane {
    display: block;
    border: 1px dashed;
    padding: 10px;
}

.mce-content-body .fade:not(.show) {
    opacity: 1;
}

.mce-content-body .tpy_two-col,
.mce-content-body .tpy_two-col .tpy_column,
.mce-content-body .tpy_layout-grid {
    border: 1px dashed #333;
    padding: 5px;
}

