/* stylelint-disable declaration-no-important */
// Bootstrap variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #e6e7e8 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #403f41 !default;
$gray-900: #202224 !default;
$black:    #000 !default;

$blue:    #0f6cbf !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #db1a74 !default;
$red:     #ca3120 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #357a32 !default;
$teal:    #20c997 !default;
$cyan:    #008196 !default;
$lightgreen: #93c54b !default;
$bglight: #edf5ff !default;

$primary:       #325d88 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$secondary:     #6c757d !default;

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

// Tables
$table-accent-bg: rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Body
$body-color:    $gray-900 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight:   700 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-color:                rgba($black, 0.6) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

// Toasts
$toast-color:                       $white !default;
$toast-background-color:            rgba($gray-900, .95) !default;
$toast-header-color:                $gray-100 !default;
$toast-header-background-color:     rgba($white, .1) !default;

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;

$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

$popover-max-width: 300px !default;

$border-radius: 0.5rem !default;
$border-radius-lg: 1.5rem !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    primaryreverse: $white,
    secondaryreverse: $white,
    activedefault: $lightgreen,
    activereverse: $primary,
    bglight: $bglight,
), $theme-colors);
// stylelint-enable

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
) !default;

:root {
    --primary: #325d88;
    --primaryreverse: #fff;
    --secondary: #6c757d;
    --secondaryreverse: #fff;
    --activedefault: #93c54b;
    --activereverse: #325d88;
    --bglight: #edf5ff;
}

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

$navbar-height: 100px !default;

// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #545454;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

a {
    text-decoration: none;
}

a:not([class]) {
    color: var(--secondary);

    &:hover {
        color: var(--primary);
    }
}

.btn.btn-icon.bg-secondary {
    color: var(--primary);
}

.btn.btn-secondary {
    background-color: var(--secondary);
    color: var(--secondaryreverse);
    border: none;
    font-weight: bold;
    box-shadow: 0 3px 3px #00000059;

    &:hover {
        background-color: var(--activedefault);
        color: var(--activereverse);
    }
}

// Custom login page
.login-container {
    background-color: transparent;
    color: var(--primaryreverse);
    box-shadow: none;
    padding: 0;
    text-align: center;

    a:not([class]) {
        color: var(--activedefault);
        &:hover {
            color: var(--secondaryreverse);
        }
    }

    form.mform h3.d-flex,
    h1.login-heading,
    h2.login-heading {
        color: var(--primaryreverse) !important;
        font-size: 1.1rem;
    }

    .btn-box {
        .btn.btn-light {
            background-color: transparent;
            color: var(--activedefault);
            border: none;

            &:hover {
                color: var(--primaryreverse);
                text-decoration: underline;
            }
        }
    }

    #notice.box,
    form.mform,
    .signupform,
    .someallowguest,
    .login-identityproviders,
    .login-form {
        background-color: var(--primary);
        padding: 2em;
        border-radius: $border-radius;
        margin-bottom: 10px;
    }

    .login-signup {
        margin: 20px 0;
        padding: 20px;

        a.btn {
            width: 100%;
            background-color: var(--activedefault);
            color: var(--activereverse);
            font-weight: normal;
            font-size: 110%;
        }
    }

    .login-divider {
        display: none;
    }

    .login-form-submit {
        text-align: center;
    }

    .continuebutton .btn.btn-primary,
    form.mform .btn.btn-primary,
    .login-form-submit .btn,
    .login-identityprovider-btn {
        background-color: var(--activedefault);
        border: 1px solid var(--activereverse);
        color: var(--activereverse);

        &:hover {
            background-color: var(--primary);
            color: var(--primaryreverse);
            border: 1px solid var(--primaryreverse);
        }
    }

    .alerts {
        > .d-flex {
            justify-content: center;

            > .btn.btn-secondary {
                background-color: transparent !important;
                box-shadow: none !important;
                color: var(--activedefault) !important;
                font-weight: normal !important;
                border-bottom: 1px solid !important;
                border-radius: 0 !important;

                &:hover {
                    color: var(--primaryreverse) !important;
                }
            }
        }
    }

    .invalid-feedback {
        background-color: #efd3d3;
        border-radius: 10px;

        a {
            color: var(--primary);

            &:hover {
                color: var(--secondary);
            }
        }
    }

    #modal-content {
        .modal-body {
            color: var(--primary);
        }
    }

    [data-name="altcha"] {
        width: 100%;
    }

    /* stylelint-disable selector-type-no-unknown */
    altcha-widget {
        .altcha {
            margin: auto;
        }
    }
    /* stylelint-enable selector-type-no-unknown */
}

// End of custom login page

// Custom Navbar
.navbar {
    background-color: var(--primary) !important;
    color: var(--primaryreverse);

    &.fixed-top {
        border-bottom: none;
    }

    .navbar-brand {
        color: $white;
    }

    .primary-navigation {
        .navbar-nav {
            // Only first level items.
            > .nav-item {
                height: $navbar-height + 1px;
            }
        }

        .nav-item {
            display: flex;
            align-items: center;

            .nav-link {
                color: var(--primaryreverse);
                background-color: var(--primary);
                position: relative;
                height: 10px;
                padding: 13px;
                border-radius: $border-radius;

                &.active:focus,
                &.active:hover,
                &:focus,
                &:hover {
                    background-color: var(--activedefault);
                    color: var(--activereverse);
                }
            }
        }
    }

    #usernavigation {

        .popover-region,
        .simplesearchform {
            display: flex;
            align-items: center;
            height: $navbar-height;
        }

        .btn[data-action="opensearch"],
        .nav-link {
            background-color: var(--primary) !important;
            color: var(--primaryreverse);
            position: relative;
            height: 26px;
            border-radius: $border-radius !important;

            &.active:focus,
            &.active:hover,
            &:hover {
                color: var(--primary);
                background-color: var(--activedefault) !important;
            }
        }

        .usermenu .login a {
            background-color: var(--activedefault);
            color: var(--activereverse);
            border-radius: $border-radius;
            padding: 5px 20px;
            margin-left: 5px;
            font-weight: bold;

            &:hover {
                background-color: var(--secondary);
                color: var(--secondaryreverse);
                text-decoration: none;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .dropdown-toggle:after {
            color: var(--primaryreverse) !important;
        }

        .btn.carousel-navigation-link {
            filter: invert(1);
            color: var(--primary) !important;
        }

        .usertext {
            color: var(--primaryreverse);
        }

        #lang-menu-toggle,
        .langbutton {
            color: var(--primaryreverse);
        }
    }

    .simplesearchform {
        .collapse.show,
        .collapsing {
            background-color: var(--primary);
        }

        .btn-submit {
            color: var(--primaryreverse);
            background: var(--primary);

            &:hover {
                color: var(--primary);
                background-color: var(--activedefault);
            }
        }
    }

    .editmode-switch-form {
        .text-primary {
            color: var(--activedefault) !important;
        }

        .custom-control-input:checked ~ .custom-control-label:before {
            border-color: var(--activedefault) !important;
        }
    }

    .popover-region-container {
        top: $navbar-height - 32px;

        .popover-region-header-text {
            color: var(--primary);
        }
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }

    .divider {
        display: none;
    }
}

[data-control="bbco-contenthover"][data-position="absolute"] > div {
    background-color: var(--primary) !important;
}
// End of custom Navbar
.drawer.drawer-right,
.drawer.drawer-left {
    background-color: var(--primary);

    .drawerheader {
        .logo {
            max-width: 90%;
            max-height: 70%;
        }

        .drawertoggle {
            color: #fff;
            border: 1px solid #fff;
        }
    }

    .drawercontent .list-group {

        .list-group-item {
            background-color: var(--primary);
            border-color: var(--primaryreverse);
            color: var(--primaryreverse);

            &:hover,
            &.active {
                background-color: var(--activedefault);
                border-color: var(--activedefault);
                color: var(--activereverse);
            }
        }
    }

}

.drawer-toggles .drawer-toggler .btn {
    background-color: var(--primary);
    border: 1px solid var(--primaryreverse);
    color: var(--primaryreverse);

    &:hover {
        background-color: var(--activedefault);
        border-color: var(--activedefault);
        color: var(--activereverse);
    }
}

.form-autocomplete-selection [data-active-selection="true"] {
    /* stylelint-disable-next-line declaration-no-important */
    color: $white !important;
}

.dropdown-menu {
    background-color: var(--primary);
    color: var(--primaryreverse);
    border-color: var(--primaryreverse);

    .dropdown-item {
        color: var(--primaryreverse);
        margin-bottom: 5px;

        &.active:hover,
        &.active:focus,
        &:focus,
        &:hover,
        &[aria-current="true"],
        &.active {
            background-color: var(--activedefault);
            color: var(--activereverse);
            border-radius: $border-radius;
        }
    }

    .choicelist,
    .dropdown-subpanel-content {
        .dropdown-item-outline {
            color: var(--primaryreverse);

            .option-description,
            .text-dark {
                color: var(--primaryreverse) !important;
            }

            &.bg-primary-light {
                color: var(--primary) !important;

                .option-description,
                .text-dark {
                    color: var(--primary) !important;
                }
            }
        }
    }

    [data-groupname="buttonar"] {

        .btn.btn-primary {
            background-color: var(--secondary);
            color: var(--secondaryreverse);

            &:hover {
                background-color: var(--activedefault);
                color: var(--activereverse);
            }
        }

        .btn.btn-link {
            color: var(--secondary);

            &:hover {
                color: var(--activedefault);
                text-decoration: underline;
            }
        }
    }

    .reportbuilder-filters-sidebar {
        background: transparent !important;
        border-bottom-color: var(--primaryreverse);
    }

    .completion-dialog {
        color: var(--primaryreverse) !important;
    }
}

.action-menu {
    .dropdown-toggle {
        color: var(--primaryreverse) !important;
        background-color: var(--primary);
        border: none;
        padding: 7px 15px;
        border-radius: $border-radius;

        &:focus,
        &:hover {
            background-color: var(--activedefault);
            color: var(--activereverse) !important;
        }
    }

    .dropdown-subpanel {
        &.content-displayed {
            background-color: var(--activedefault);

            a {
                color: var(--activereverse);
            }
        }
    }
}

.select-menu {
    .btn.dropdown-toggle {
        background-color: var(--primary);
        border: none;
        color: var(--primaryreverse);
        font-size: 1rem;
        padding: 7px 15px;

        &:hover {
            background-color: var(--activedefault);
            color: var(--activereverse);
        }
    }

    ul[role="group"] li:first-child {
        color: var(--primaryreverse);
        font-weight: bold;
        border-top: 1px solid var(--primaryreverse);
        border-bottom: 1px solid var(--primaryreverse);
        margin: 5px 0;
    }
}

.dropdown.comboboxsearch {
    .btn.dropdown-toggle {
        background-color: var(--secondary);
        border: none;
        color: var(--secondaryreverse);
        font-size: 1rem;
        padding: 7px 15px !important;
        border-radius: $border-radius;

        &:hover {
            background-color: var(--activedefault);
            color: var(--activereverse);
        }
    }
}

/*Can be tested in Grade > Simple view */
.tertiary-navigation .btn > div {
    max-width: 400px;
}

.secondary-navigation {
    background-color: var(--primary);
    border-bottom: 1px solid var(--primaryreverse);

    .navigation.moremenu {
        background-color: transparent;
        border: none;
        margin: 0;
    }

    .nav-tabs {
        background-color: var(--primary) !important;
        border-bottom: 1px solid var(--secondary) !important;

        .nav-link {
            color: var(--primaryreverse);
            border-bottom: 3px solid transparent;
            background-color: transparent;

            &:focus,
            &.active,
            &:hover {
                color: var(--activedefault);
                background-color: transparent;
                border-bottom: 3px solid var(--activedefault);
            }
        }
    }
}

.drawer {
    #courseindexdrawercontrols {
        .btn.btn-icon {
            color: var(--primaryreverse);

            &:focus,
            &:hover {
                color: var(--activereverse);
            }
        }
    }
}

.courseindex {

    .courseindex-item {
        padding: 0.2rem 0.5rem;

        &.courseindex-section-title {
            a {
                color: var(--primaryreverse);

                &:hover {
                    color: var(--activedefault);
                }
            }
        }

        &:hover .courseindex-link,
        &:hover .courseindex-chevron,
        &:focus .courseindex-link,
        &:focus .courseindex-chevron {
            color: var(--primaryreverse);
        }

        &.pageitem {
            background-color: var(--activedefault);
            color: var(--activereverse);

            .courseindex-link,
            .courseindex-chevron,
            a {
                color: var(--activereverse);

                &:hover {
                    color: var(--activereverse);
                }
            }
        }

        .completioninfo {
            &.completion_complete {
                color: $lightgreen;
            }
        }
    }

    .courseindex-sectioncontent {
        .courseindex-link,
        .courseindex-chevron {
            color: var(--primaryreverse);
            padding: 3px 10px;

            &:hover {
                background-color: var(--activedefault);
                color: var(--activereverse);
                border-radius: $border-radius;
            }
        }
    }
}

#page-header {
    background-color: var(--primary);
    color: var(--primaryreverse);
    width: 100%;
    padding-top: 50px;
    height: auto !important;

    .page-context-header {
        background-color: transparent !important;
    }

    h1.h2 {
        color: var(--primaryreverse);
        font-size: 3.5rem;
        font-weight: bold;
    }

    #page-navbar {
        border-radius: 0 $border-radius $border-radius 0 !important;
        padding: 0 10px 0 70px !important;
        background-color: #fff8;
        margin-bottom: 5px;
        position: absolute;
        top: 0;
        left: 0;

        .breadcrumb-item:first-child {
            &::after {
                content: "\f015";
                font-family: var(--fa-style-family-classic);
                font-weight: 900;
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
                color: var(--primaryreverse);
            }
        }

        .breadcrumb-item a {
            color: var(--primaryreverse);

            &:hover {
                color: var(--activedefault);
            }
        }

        .breadcrumb-item.active {
            color: var(--primaryreverse);
        }

        .breadcrumb-item + .breadcrumb-item::before {
            color: var(--primaryreverse);
            font-weight: bold;
        }
    }

    .btn .icon {
        padding: 5px;
        border-radius: $border-radius;
    }

    .btn.btn.btn-primary,
    .btn .icon,
    .btn.btn-primary.search-icon {
        border-color: var(--primaryreverse);
        color: var(--primaryreverse);

        &:focus,
        &:hover {
            background-color: var(--activedefault);
            color: var(--activereverse);
        }
    }

}

.pagelayout-maintenance,
.pagelayout-secure {
    #page-header {
        width: auto;

        .page-header-headings {
            background-color: transparent !important;
        }
    }
}

.format-onetopic .onelinetabs .tabs-wrapper.hasscroll {
    padding: 0;
}

.path-mod.format-onetopic.inpopup,
.path-mod.format-onetopic.pagelayout-popup {
    .tabs-wrapper {
        display: none;
    }
}

.course-section {

    .sectionname {

        > a {
            color: var(--primary);

            &:hover {
                color: var(--secondary);
            }
        }
    }
}

.block_kamaleon {
    &.design-cesbootstrapcarousel {
        background-color: var(--primary);
        border-radius: 0 !important;

        .carousel.slide {
            max-width: 1200px;
            margin: auto;
        }

        .carousel-item {
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .contenedor-bn {
            max-width: 560px !important;
            margin: 0 !important;
            float: right;
            margin-right: 440px !important;

            .content {
                background-color: transparent !important;
                text-align: right;
                font-size: 120%;
            }
        }

        .carousel-title-separator {
            display: none;
        }

        .titulo-bn {
            text-align: right;
            font-weight: normal !important;
            color: var(--activedefault) !important;
            font-style: italic;
            text-transform: uppercase;
        }

        .texto-bn-bold {
            color: #fff !important;
            text-align: right;
            padding: 0 !important;
            font-size: 75px !important;
            line-height: 70px !important;
            margin: 20px 0 40px !important;
        }

        .carousel-indicators li {
            height: 15px;
            border-radius: 100%;
            width: 15px;
            padding: 0;
            border: 1px solid var(--primary);

            &:hover {
                background-color: var(--secondary);
            }
        }
    }
}

.block_vitrina-courseslist {
    background-color: transparent !important;

    .block_vitrina-tabcontent {
        text-align: center;
    }

    .coursebox {
        box-shadow: none !important;
        background-color: var(--primary) !important;
        color: var(--primaryreverse) !important;
        border-radius: $border-radius !important;
        border-width: 3px;
        padding: 15px;

        .panel-body {
            .courseimage {
                border-radius: $border-radius;
            }

            h3.course-name {
                color: var(--primaryreverse) !important;
            }

            .coursesummary {
                display: none;
            }

            .feeinfo {
                background-color: transparent !important;
                padding-left: 0;
            }
        }

        .panel-foot {
            text-align: right;
            padding-right: 15px;
            padding-bottom: 0 !important;

            .btn {
                background-color: var(--secondary) !important;
                color: var(--secondaryreverse) !important;
                border-radius: $border-radius;
                border: none;
                font-weight: bold;
                font-size: 80%;

                &:hover {
                    background-color: var(--activedefault) !important;
                    color: var(--activereverse) !important;
                }
            }
        }

        &:hover {
            background-color: var(--secondary) !important;

            .panel-foot {
                .btn {
                    background-color: var(--primary) !important;
                    color: var(--primaryreverse) !important;

                    &:hover {
                        background-color: var(--activedefault) !important;
                        color: var(--activereverse) !important;
                    }
                }
            }
        }
    }

    .loadmore {
        width: auto !important;
        display: inline-block;
        font-size: 120%;
    }
}

#page-blocks-vitrina-detail {
    .longcustomfields-box {
        .nav-item {
            .nav-link {
                margin-right: 20px;
                padding: 2px 10px;
                position: relative;
                font-weight: bold;

                &:focus {
                    box-shadow: none;
                }

                &.active,
                &:hover {
                    background-color: var(--secondary);
                    color: var(--secondaryreverse);
                    border-radius: 5px;

                    &:before {
                        content: "";
                        display: block;
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 10px solid var(--secondary);
                        margin: 0 auto;
                        position: absolute;
                        bottom: -10px;
                        left: calc(50% - 8px);
                    }
                }
            }
        }
    }

    .catalog-return a {
        border-radius: $border-radius;
    }
}

#region-main,
.course-content,
.onetopic-tab-body {
    h1,
    h2 {
        color: var(--primary);
    }

    h3 {
        color: var(--primary);
    }

    h4,
    h5 {
        color: var(--secondary);
        font-weight: normal;
        font-style: italic;
    }
}

.activityiconcontainer {
    background-color: #fff;
    border-radius: 50%;
}

.content-item-container {
    background-color: var(--primary);
    color: var(--primaryreverse);

    a {
        color: var(--primaryreverse);

        &:hover {
            color: var(--activedefault);
        }
    }

    &.unread {
        background-color: var(--secondary);
        color: var(--secondaryreverse);
    }
}

.modal-content {
    padding-top: 0 !important;
}

.modal-header {
    background-color: var(--secondary);
    color: var(--secondaryreverse);

    > h4,
    .modal-title {
        color: var(--secondaryreverse) !important;
        width: 100%;
        text-align: center;
        font-style: normal;
    }

    .close,
    .btn-close {
        color: var(--secondaryreverse);
        opacity: 1;

        span {
            border-radius: 50%;
            border: 1px solid var(--secondaryreverse);
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* Plugin fixes */
.elements-plugin-container {

    .nav.nav-tabs .nav-item a.active {
        background-color: var(--secondary);
    }
}

@media (min-width: 768px) {
    .format-onetopic,
    .format-menutopic {
        &.course-header-fullwidth {
            .header-maxwidth {
                max-width: 100% !important;
                margin: 0 !important;
            }
        }
    }

    .path-admin,
    .path-local,
    .path-backup {
        :not(.format-site) .header-maxwidth {
            max-width: 100% !important;
            margin: 0 !important;
            padding: 0 50px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #page.drawers {
        padding-left: 0;
        padding-right: 0;
    }

    .block_kamaleon.design-cesbootstrapcarousel {

        .contenedor-bn {
            margin-right: 300px !important;
            width: calc(100% - 300px) !important;
        }

        .texto-bn-bold {
            font-size: 40px !important;
            line-height: 40px !important;
        }
    }
}

@media (min-width: 992px) {
    body.courseheader-custom.course-header-fullwidth {

        #page-header {
            align-items: center !important;
        }
    }
}

@media (max-width: 512px) {
    body.courseheader-custom #page-header {

        h1.h2 {
            > span {
                font-size: 2rem;
            }
        }
    }

    .path-course #page-header {
        background-image: none;

        > .w-100 > div.d-flex.align-items-center {
            max-width: unset !important;
        }
    }

    .format-onetopic .onelinetabs .tabs-wrapper .nav.nav-tabs {
        background-color: transparent !important;
    }
}

/*UdeMedellin*/
.login-container {
    .hasinstructions {
        display: none;
    }

    .login-signup {
        .login-heading {
            display: none;
        }
    }
}

#page-header {
    background-color: var(--primary);
    color: var(--primaryreverse);
    width: 100%;
    padding-top: 50px;

    .page-context-header {
        background-color: transparent !important;
    }

    h1.h2 {
        color: var(--primaryreverse);
        font-size: 3.5rem;
        font-weight: bold;
    }
}

.format-onetopic,
.path-badges,
.path-question,
.path-report,
.path-grade,
.path-mod,
.path-course {
    #page-header {
        background-size: 18vw !important;
        background-repeat: no-repeat !important;
        background-position: 95% center !important;

        > .w-100 > div.d-flex.align-items-center {
            display: block !important;
            max-width: 70%;

            > div:not(.header-actions-container) {
                border-bottom: 1px solid var(--activedefault);
            }

            .header-action {
                padding: 10px 0 0;
                text-align: right;

                .bulkEnable.btn {
                    background-color: var(--secondary);
                    color: var(--secondaryreverse);
                    border: none;

                    &:hover {
                        background-color: var(--activedefault);
                        color: var(--activereverse);
                    }
                }
            }
        }
    }

    #region-main {
        background-color: transparent !important;
    }

    .tabs-wrapper:not(.hasscroll) .nav.nav-tabs.format_onetopic-tabs {
        display: flex;
        justify-content: center;
    }

    .nav.nav-tabs.format_onetopic-tabs {
        border: none !important;

        .nav-item {
            padding: 0 1% 10px;
        }

        .nav-link {
            border: 2px solid var(--secondary) !important;
            border-radius: 20px !important;
            font-weight: bold;
            color: var(--primary) !important;
            background-color: var(--primaryreverse) !important;
            padding: 5px 30px !important;
            text-align: center;

            &:focus,
            &.active,
            &:hover {
                color: var(--activereverse) !important;
                background-color: var(--activedefault) !important;
                border: 2px solid var(--activedefault) !important;

                &:before {
                    content: "\f054";
                    font-family: var(--fa-style-family-classic);
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    bottom: calc(50% - 20px);
                    right: 0;
                }
            }
        }
    }

    #format_menutopic_menu {
        margin-top: -10px;

        .menu-body-content {
            justify-content: center;
        }

        .navbar-toggler {
            border-color: var(--primaryreverse) !important;

            .navbar-toggler-icon {
                filter: invert(0);
            }
        }

        .navbar-nav {
            width: 100%;

            .nav-item {
                padding: 0 1% 10px;
                background-color: transparent;
                border: none;
            }

            .nav-link {
                border: 2px solid var(--secondary) !important;
                border-radius: 20px !important;
                font-weight: bold;
                color: var(--primary) !important;
                background-color: var(--primaryreverse) !important;
                padding: 5px 20px !important;
                text-align: center;
                position: relative;

                &:focus,
                &.active,
                &:hover {
                    color: var(--activereverse) !important;
                    background-color: var(--activedefault) !important;
                    border: 2px solid var(--activedefault) !important;

                    &:before {
                        content: "\f054";
                        font-family: var(--fa-style-family-classic);
                        display: block;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        bottom: calc(50% - 23px);
                        right: -4px;
                    }
                }
            }
        }
    }
}

.format_menutopic,
.format-onetopic {
    &.pagelayout-course,
    &.path-mod:not(.pagelayout-admin) {

        #topofscroll {
            margin-top: 0 !important;
            background-color: transparent !important;
            max-width: unset !important;
            padding: 0 !important;
        }
    }
}

.format-onetopic {
    .tabs-wrapper {
        background-color: var(--primary);
        outline: 20px solid var(--primary);
    }

    .onetopic-tab-body {
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }
}

.secondary-navigation {
    .nav-tabs {
        .nav-link {

            &:focus,
            &.active,
            &:hover {
                border-bottom: 3px solid var(--secondary);
            }
        }
    }
}


.path-grade,
.path-mod {
    #page-header {
        .page-header-image {
            display: none;
        }
    }

    #page-content [role="main"] > .generalbox {
        padding-top: 0 !important;
    }

    .activity-header {
        margin: 0 !important;
    }
}

.drawer.drawer-left {
    .list-group-item {
        &:first-child {
            display: none;
        }
    }
}

.block_vitrina-content {

    .loadmore {
        border: 2px solid var(--secondary);
        color: var(--primary);
        background-color: transparent;
        position: relative;
        padding: 5px 40px;
        text-align: center;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
        margin-top: 30px;

        &:after {
            content: "";
            font-family: var(--fa-style-family-classic);
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            background-color: var(--secondary);
        }
    }
}

#page-site-index {
    .block_vitrina-content {
        max-width: 1330px;
        margin: 50px auto;

        &:before {
            content: "";
            background-color: var(--primary);
            height: 150px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    #page.drawers .main-inner {
        padding: 0;
        margin: 0 auto;
    }

    #page-wrapper #page #page-content {
        padding-bottom: 0 !important;
    }

    #region-main {
        [role="main"] > br {
            display: none;
        }
    }
}

#page-site-index.editing {
    .block-controls {
        position: relative;
        z-index: 1;
    }
}

.estudiarconnosotros {
    background-color: var(--bglight);
    padding-bottom: 40px;
}

.estudiantesdicen {
    background-color: var(--bglight);

    > .card-body {

        > .card-text.content {
            padding: 0 40px;

            h4 {
                color: var(--primary);
                font-size: 40px;

                em {
                    color: var(--secondary);
                    border: 3px solid var(--secondary);
                    padding: 0 8px 0 5px;
                    display: inline-block;
                }
            }
        }
    }
}

.piedelsitio {
    background-color: var(--primary);
    color: var(--primaryreverse);
    padding: 40px;
    line-height: 24px;
    border-radius: 0;

    a {
        color: var(--activedefault);

        &:hover {
            color: var(--activedefault);
            text-decoration: underline;
        }
    }

    .container-fluid {
        max-width: 900px;

        .col-md-6:first-child {
            text-align: center;
        }
    }
}

#page-blocks-vitrina-detail {
    h2.h1 {
        text-align: center;
        font-size: 60px;
        color: var(--primary);
        border-bottom: 1px solid var(--activedefault);

        span {
            color: var(--secondary);
        }
    }

    .box-custom-shadow {
        display: none;
    }

    .general-items-box {
        color: var(--primary);
    }

    .customfield-item {
        margin: 0 !important;

        strong {
            width: 150px !important;
        }

        i {
            background-color: var(--activedefault) !important;
            color: var(--primary) !important;
            border-radius: 0 !important;

            &:after {
                color: var(--primary) !important;
            }
        }

        &:first-child i {
            border-top-left-radius: 15px !important;
            border-top-right-radius: 15px !important;
        }

        &:last-child i {
            border-bottom-right-radius: 15px !important;
            border-bottom-left-radius: 15px !important;
        }

        span {
            padding: 5px 0 !important;
        }

        &.duracion-item i::after {
            content: "\f017";
        }

        &.nivel-item i::after {
            content: "\f161";
        }

        &.areas-item i::after {
            content: "\f19d";
        }

        &.modalidad-item i::after {
            content: "\f26c";
        }

        &.inversion-item i::after {
            content: "\24";
        }

    }

    .course-detail {
        .enroll-container {
            a.btn {
                background-color: var(--secondary);
                color: var(--secondaryreverse);
                font-weight: bold;
                padding: 5px 40px;
                box-shadow: 0 3px 3px #00000059;
                border: none;

                &:hover {
                    background-color: var(--activedefault);
                    color: var(--activereverse);
                }
            }

            p {
                font-size: 16px;
                line-height: 18px;
            }

        }
    }

    .relatedcourses {
        background-color: var(--bglight);
        margin-left: -38px;
        margin-right: -38px;
        padding: 30px;
        position: relative;

        &::before {
            content: "";
            display: block;
            clear: both;
            width: 105px;
            height: 85px;
            background-color: var(--activedefault);
            position: absolute;
            top: -25px;
            left: 25px;
        }

        > h3 {
            position: relative;
        }
    }

    #topofscroll {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #page-content {
        padding-bottom: 0 !important;
    }

    video,
    .video-js .vjs-tech,
    .video-js.vjs-fluid:not(.vjs-audio-only-mode) {
        border-radius: 15px;
    }

    .longcustomfields-box {
        h4 {
            font-size: 18px;
            color: var(--primary);
            margin-top: 20px;
        }

        .foto-experto {
            display: flex;
            justify-content: center;
            align-items: end;
        }
    }

}

#page-content .generalbox {
    font-family: "Poppins", sans-serif;
    position: relative;

    h2 {
        color: var(--primary);
        font-size: 25px;
        width: fit-content;
        padding: 30px 10px;
        background-color: var(--activedefault);
        position: relative;
        margin-top: 20px;
        max-width: calc(100% - 80px);

        &::after {
            content: "";
            position: absolute;
            bottom: 20px;
            left: 10px;
            right: -80px;
            border-bottom: 2px solid var(--secondary);
        }
    }

    .intencionalidad {
        background-color: var(--primary);
        color: var(--primaryreverse);
        text-align: center;
        padding: 20px 50px 50px;
        margin-bottom: 30px;

        strong {
            color: var(--activedefault);
            font-size: 120%;
        }
    }

    .incrustado {
        width: 80%;
        min-width: 600px;
        max-width: 1200px;
        margin: 50px auto;

        .genially-content {
            width: 100%;
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 0;
            height: 0;
            outline: 2px solid #fff;
            border: 15px solid transparent;
        }
    }

    .videobox {
        width: 100%;
        position: relative;
        outline: 2px solid var(--secondary);
        border: 15px solid transparent;

        iframe,
        div {
            max-width: 100% !important;
        }
    }

    .bloque_tema {
        display: flex;
        margin-left: 30px;
        margin-right: 20px;
        height: auto;
        min-height: 35px;
    }

    .two-col {
        display: flex;
        justify-content: space-between;

        .column {
            width: calc(50% - 30px);
            margin: 0 15px;
        }
    }

    .box-img {
        background-color: var(--bglight);
        margin: 10px 20px;
        padding: 10px 20px;
        color: var(--primary);

        .about {
            font-style: italic;
            font-size: 12px;
            text-align: center;
            margin: 10px 0;
        }

        img {
            width: 100%;
        }
    }

    .box-img-flotante {
        width: 50%;
        float: right;
        max-width: 500px;
        min-width: 300px;
    }

    /**********Box text***************/
    .box-text {
        background-color: var(--primaryreverse);
        border: 1px solid #dedede;
        max-width: calc(100% - 70px);
        margin: 20px auto 30px;
        position: relative;
        padding: 20px;
        text-align: justify;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-top: 20px;


        &:before {
            content: "";
            background: url(https://boa.udemedellin.edu.co/api/c/academica/resources/NkIzNzdERDctQjFCNy00QzMzLThCNjMtM0M5QjVFQTg0NDFFQGJvYS51ZGVtZWRlbGxpbi5lZHUuY28=/!/ed_cont/cursos_cortos/red_pag/sprite.svg) no-repeat center;
            background-size: 620%;
            width: 60px;
            position: absolute;
            left: -64px;
            top: 0;
            bottom: 0;
        }

        .box_body {
            padding: 5px 15px;
        }

        > .box-title {
            font-size: 19px;
            margin: 0 0 5px 0;
            font-weight: bold;
            text-align: center;
            font-style: italic;
            color: var(--primary);
        }

        /********* important ********/
        &.important {
            border-left: 30px solid var(--secondary);

            &:before {
                background-position: 0 center;
            }

        }

        /********* box_example ********/
        &.example {
            border-left: 30px solid var(--primary);

            &:before {
                background-position: 25% center;
            }
        }

        /********* box_note ********/
        &.note {
            border-left: 30px solid var(--activedefault);

            &:before {
                background-position: 50% center;
            }
        }

        /********* box link ********/
        &.link {
            border-left: 30px solid var(--bglight);

            &:before {
                background-position: 75% center;
            }
        }

        /********* box connection ********/
        &.connection {
            border-left: 30px solid #427082;

            &:before {
                background-position: 100% center;
            }
        }
    }

    .nav.nav-tabs {
        background-color: var(--primary);
        border-radius: 25px 25px 0 0;
        margin: 60px 50px 0;

        .nav-item {
            a {
                font-size: 16px;
                color: #f2f6f9;
                text-decoration: none !important;
                transition: all .3s;
                padding: 0.5rem 2rem;

                &:hover,
                &.active {
                    background-color: var(--secondary);
                    transform: scale(1.15) translateY(-5px);
                    color: var(--secondaryreverse);
                    font-weight: bold;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                }

                &.disabled {
                    background-color: $gray-500;
                }

            }
        }
    }

    .tab-content {
        box-shadow: 0 -2.83px 6px #4f5eb142;
        background-color: var(--white);
        border-radius: 40px;
        padding: 20px;
        margin: 0 auto;
        max-width: calc(100% - 6px);
        position: relative;
        margin-bottom: 50px;
    }

    .acordion {
        margin: 30px auto;

        .accordion-title {

            .btn-link {
                background-color: var(--secondaryreverse);
                color: var(--secondary);
                font-size: 21px;
                width: 100%;
                padding: 10px 50px;
                text-align: left;
                margin: 5px 0 0 0;
                transition: all 0s;
                font-weight: bold;
                border-radius: 30px;
                border: none;

                &:focus {
                    box-shadow: none;
                    text-decoration: none;
                }

                &:not(.collapsed) {
                    box-shadow: 0 -2.86px 5px #4f5eb142;
                    border-radius: 30px 30px 0 0;
                    border-bottom: 2px solid var(--secondary);
                }

                &.collapsed {
                    background-color: var(--primary);
                    color: var(--primaryreverse);
                    margin: 5px 0;
                    font-size: 16px;
                    font-weight: normal;
                }

                &:hover {
                    background-color: var(--activedefault);
                    color: var(--activereverse);
                    text-decoration: none;
                }
            }
        }

        .acordion-content {
            width: 100%;
            padding: 40px 50px;
            background-color: #fff;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            margin-bottom: 10px;
            transition: all .3s;
            box-shadow: 0 4px 6px #4f5eb145;
        }
    }

    .referencias {
        background-color: var(--bglight);
        padding: 50px 20px 30px;
        position: relative;
        margin-top: 100px;

        &:before {
            content: "“";
            position: absolute;
            top: 0;
            left: 60px;
            font-size: 300px;
            font-family: sans-serif;
            color: var(--secondary);
            font-weight: bold;
            line-height: 130px;
        }

        p,
        a {
            font-size: 14px;
        }

        h3 {
            text-align: center;
        }

        .francesa p {
            text-indent: -40px;
            padding-left: 40px;
        }
    }

    .creditos {
        background-color: var(--bglight);
        text-align: center;
        padding: 70px 20px;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > p {
            max-width: 600px;
        }

        .facultad {
            font-size: 24px;
            font-weight: bold;
        }

        .programa {
            font-size: 16px;
            line-height: 16px;
        }

        .anno {
            font-size: 19px;
        }

        .copy {
            font-size: 13px;
            font-style: italic;
        }

        .derechos {
            font-size: 14px;
            font-weight: bold;
        }
    }
}

#recurso_pagina {

    > .title {
        background-color: var(--primary);
        color: var(--primaryreverse);
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        padding: 90px 20px 10px;

        .snd-line {
            color: var(--secondary);
            border-bottom: 1px solid var(--activedefault);
            padding-bottom: 30px;
        }
    }

    > .logo {
        background: url(https://boa.udemedellin.edu.co/api/c/academica/resources/NkIzNzdERDctQjFCNy00QzMzLThCNjMtM0M5QjVFQTg0NDFFQGJvYS51ZGVtZWRlbGxpbi5lZHUuY28=/!/rec_pag/logo_udem.svg) no-repeat;
        background-size: contain;
        width: 200px;
        height: 80px;
        position: absolute;
        top: -3px;
        right: 5%;
    }
}

.path-mod-book {

    .book_content {
        background-color: var(--bglight);
        border-radius: 30px;
        padding: 30px !important;

        > h3 {
            padding-top: 30px;
            color: var(--secondary) !important;
            text-align: center;
            font-size: 42px;
        }

    }

    #mod_book-chaptersnavigation {
        z-index: 1;

        .btn-next,
        .btn-previous {
            border-radius: 50%;
            width: 65px;
            height: 65px;
            background-color: var(--primary);
            color: var(--primaryreverse);
            position: relative;
            top: 100px;

            i {
                font-size: 36px;
            }
        }
    }

    #recurso_libro {
        .title {
            color: var(--secondary);
            font-size: 30px;
            text-align: center;
            width: fit-content;
            max-width: 80%;
            margin: 20px auto;
            position: relative;
            font-weight: bold;
        }

        .subtitle {
            color: var(--primary);
            margin: 40px auto;
            text-align: center;

            .fst-line {
                font-size: 18px;
            }

            .snd-line {
                font-size: 30px;
                font-weight: bold;
                border-bottom: 1px solid var(--secondary);
                width: fit-content;
                margin: auto;
                padding: 0 10px 5px 10px;
                max-width: 100%;
            }
        }

        .nota {
            background-color: var(--activedefault);
            padding: 8px 20px;
            color: var(--activereverse);
            font-size: 10px;
            text-align: center;
            margin: 50px auto;
            width: fit-content;
            border-radius: $border-radius;
        }

    }
}

.tool_courserating-widget {
    position: fixed;
    z-index: 9;
    bottom: 8rem;
    right: 2rem;
    height: 36px;
    width: 36px;
    text-align: center;

    > div {
        display: none;
    }

    &:before {
        content: "\f005";
        font-family: var(--fa-style-family, "Font Awesome 6 Free");
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 36px;
        width: 36px;
        background-color: var(--activedefault, #93c54b);
        color: var(--primary);
        border-radius: 50%;
    }

    &:hover {
        > .rating-summary {
            display: flex;
            position: absolute;
            right: 0;
            top: -35px;
            height: 50px;
            background-color: transparent;
            align-items: start;

            &:before {
                content: "";
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                position: absolute;
                bottom: 10px;
                right: 11px;
                width: 15px;
                height: 15px;
                background-color: #bdd0d9;
            }

            .tool_courserating-cfield {
                background-color: #bdd0d9;
                padding: 2px 5px;
                border-radius: 5px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .tool_courserating-norating .tool_courserating-stars {
        color: var(--primary);
    }
}

.block_kamaleon.kam-hslider.estudiantesdicen {
    background: linear-gradient(to bottom, var(--bglight) 0%, var(--bglight) 50%, transparent 50%, transparent 100%);

    .flex-viewport {
        margin: 0 40px;
    }

    .card-cards {

        h5 {
            height: 45px;
            overflow: hidden;
        }

        .card_content-content {
            height: 90px;
            overflow: auto;
        }
    }

    .flex-direction-nav {

        .flex-next {
            right: 0;

            &::before {
                color: var(--secondary);
            }
        }

        .flex-prev {
            left: 0;

            &::before {
                color: var(--secondary);
            }
        }
    }

    .stars-rating [data-rating="1"] .filled {
        color: var(--secondary);
    }

    a:not([class]) {
        color: var(--primary);

        &:hover {
            text-decoration: underline;
        }
    }

}

.progressBarCell.completed::after {
    content: "\f058";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    color: var(--primary);
    background-color: var(--activedefault);
    border-radius: 50%;
    font-size: 17px;
}

.activity.subsection > .activity-item {
    box-shadow: 2px 7px 10px #88888859;
    max-width: 800px;
    margin: 40px auto;
    border: none;

    .section .section-item {
        padding: 0;

        .course-section-header {
            background-color: var(--bglight);
            padding: 20px 30px;
            border-radius: $border-radius $border-radius 0 0;

            h3 {
                margin: 0;
            }
        }
    }
}

.activity-item .activity-completion {

    .completion-dropdown > .btn.dropdown-toggle,
    button.btn:not(.btn-success),
    a[role="button"].btn {
        background-color: var(--secondary);
        color: var(--secondaryreverse);
        border: none;

        &:hover {
            background-color: var(--activedefault);
            color: var(--activereverse);
        }
    }

    button.btn.btn-success {
        background-color: var(--activedefault) !important;
        color: var(--activereverse) !important;
    }

    .completion-dialog {
        .text-success {
            color: var(--activedefault) !important;
        }
    }
}

#block-region-below {
    max-width: 1200px;
    margin: auto;
}

.pie-derechos {
    text-align: center;
}

.pie-institucion {
    display: none;
}

.format-site {
    .pie-derechos {
        display: none;
    }

    .pie-institucion {
        display: flex;
    }
}

.format-onetopic.path-mod #page-header {
    min-height: auto !important;
    background-image: none;

    #course-header {
        display: none !important;
    }

    > .w-100 {
        > div.align-items-center {
            display: none !important;
        }
    }
}

.btn-whatsapp {
    position: fixed;
    z-index: 9;
    font-size: 25px !important;
    bottom: 5rem;
    right: 2rem;
    box-shadow: 0 0 1px var(--primaryreverse, #fff);
    color: var(--primaryreverse, #fff);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: var(--primaryreverse, #fff) !important;
    }
}

body.pagelayout-popup .btn-whatsapp {
    display: none;
}

@media (max-width: 600px) {
    #recurso_pagina {

        .two-col {
            flex-direction: column;

            .column {
                width: calc(100% - 30px);
            }
        }
    }

    .format-onetopic,
    .path-badges,
    .path-question,
    .path-report,
    .path-grade,
    .path-mod,
    .path-course {

        .nav.nav-tabs.format_onetopic-tabs {
            .nav-link {
                padding: 5px 10px !important;

                &:focus,
                &.active,
                &:hover {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .course-section {
        margin-top: 0;
    }

    .udem_act_title {
        font-size: 24px !important;
        line-height: 28px !important;
    }

    .btn-whatsapp {
        bottom: 5px;
        right: 5px;
    }

    .tool_courserating-widget {
        bottom: 45px;
        right: 5px;
    }
}
